@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
body {
    margin: 0;
    padding: 0;
  }
  .calendar {
    display: flex;
    height: 200vh;
    background-color: #5c5f6c;
    .MuiDateCalendar-root {
      color: white;
    }
  }

  thead {
    display: none;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    pointer-events: auto; 
    transition: opacity 0.3s ease; 
  }

  .fc-timegrid-now-indicator-container{
    background-color: white;
  }
  
  .fc .fc-timegrid-slot {
   height: 5.5em;
   --fc-daygrid-event-dot-width: 0px;

  }

  .title{
    font-size: 28px;
    font-family: 'Montserrat', ;
    //color: #243D6F;
  }

 
  .fc td, .fc th{
    border: none !important;
  }

  table{
    border: none !important;
  }

 td{
  margin-left: 40px !important;
 }